body {
    background: url(../images/Spurshome.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container{
	color:red;
	text-align: center;
	background-color: black;
}

header{
	color: white;
	font-size: 50px;
	width:100%;
	text-align: center;

}


h3{
	text-align: left;
}


