/*body {
    background: url(assets/images/Spurshome.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}*/

body{
	color:white;
	text-align: center;
	background: black;
}

header{
	font-size: 50px;
	width:100%;
	text-align: center;
}


img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h3{
	text-align: left;
}